// |--------------------------------------------------------------------------
// | Flexy header
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .flexy-header
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// Responsive
$xs-flexy-header-static-row-first-height: 50px;
$sm-flexy-header-static-row-first-height: 70px;
$md-flexy-header-static-row-first-height: 90px;
$lg-flexy-header-static-row-first-height: 90px;

$xs-flexy-header-static-row-second-height: 40px;
$sm-flexy-header-static-row-second-height: 50px;
$md-flexy-header-static-row-second-height: 70px;
$lg-flexy-header-static-row-second-height: 70px;

$xs-logo-font-size: 20px;
$sm-logo-font-size: 22px;
$md-logo-font-size: 28px;
$lg-logo-font-size: 28px;

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin flexy-header-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.flexy-header {}

.flexy-header--static {

  .flexy-header__row--first {
    @include flexy-header-mixin-row-height($xs-flexy-header-static-row-first-height);

    background-color: $body-bg-secondary;
  }

  .flexy-header__row--second {
    @include flexy-header-mixin-row-height($xs-flexy-header-static-row-second-height);

    background-color: $body-bg-tertiary;
  }
}

.flexy-header__secondary-navigation {

  .flexy-list {

    > * {
      padding: 0 30px 0 0;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  a {
    font-size: $font-size-large;

    color: $text-color;
  }
}

.flexy-header__logo {
  font-size: $xs-logo-font-size;

  &, &:hover, &:focus {
    color: $text-color;

    text-decoration: none;
  }
}

.flexy-header__form {

  form {
    position: relative;
  }

  .input-group {

    .form-control {
      @include border-right-radius($border-radius-large);
    }

    .input-group-addon {
      display: none;
    }
  }

  .form-control {
    @extend .input-lg;

    padding-right: 50px; // The width of the button, so the text dont go underneath

    border: 2px solid #393d5e;

    font-size: $font-size-base;
  }

  .btn {
    position: absolute;

    z-index: 2000;

    top: 5px;
    right: 0;

    background-color: transparent;
    border: 0;

    font-size: 0;

    color: $text-color;

    @extend .btn-lg;

    &:after {
      @extend .fa;

      display: inline-block;

      font-size: $font-size-base;

      content: $fa-var-search;
    }
  }
}

.flexy-header__sidebar-toggle {
  border: 0;
  background-color: transparent;
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {

  .flexy-header--static {

    .flexy-header__row--first {
      @include flexy-header-mixin-row-height($sm-flexy-header-static-row-first-height);
    }

    .flexy-header__row--second {
      @include flexy-header-mixin-row-height($sm-flexy-header-static-row-second-height);
    }
  }

  .flexy-header__logo {
    font-size: $sm-logo-font-size;
  }
}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {

  .flexy-header--static {

    .flexy-header__row--first {
      @include flexy-header-mixin-row-height($md-flexy-header-static-row-first-height);
    }

    .flexy-header__row--second {
      @include flexy-header-mixin-row-height($md-flexy-header-static-row-second-height);
    }
  }

  .flexy-header__logo {
    font-size: $md-logo-font-size;
  }
}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {

  .flexy-header--static {

    .flexy-header__row--first {
      @include flexy-header-mixin-row-height($lg-flexy-header-static-row-first-height);
    }

    .flexy-header__row--second {
      @include flexy-header-mixin-row-height($lg-flexy-header-static-row-second-height);
    }
  }

  .flexy-header__logo {
    font-size: $lg-logo-font-size;
  }
}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
