// |--------------------------------------------------------------------------
// | Footer
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .layout__footer
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// Responsive
$xs-layout-footer-top-bottom-padding: 30px;
$sm-layout-footer-top-bottom-padding: 50px;
$md-layout-footer-top-bottom-padding: 60px;
$lg-layout-footer-top-bottom-padding: 80px;

$xs-layout-footer-border-width: 20px;
$sm-layout-footer-border-width: 40px;
$md-layout-footer-border-width: 60px;
$lg-layout-footer-border-width: 80px;

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin layout__footer-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.layout__footer {
  border-top-width: $xs-layout-footer-border-width;
  border-top-color: $brand-secondary;
  border-top-style: solid;

  background-color: $brand-primary;

  .container {
    margin-top: (0 - $xs-layout-footer-border-width);

    padding-top: ($xs-layout-footer-border-width + $xs-layout-footer-top-bottom-padding);
    padding-bottom: $xs-layout-footer-top-bottom-padding;

    background-image: url(../images/footer__watermark.png);
    background-position: top right;
    background-repeat: no-repeat;
  }

  .flexy-list {

    > * {
      padding: 0;

      &:after {
        content: "|";

        padding: 0  $flexy-list-item-spacing;
      }

      &:last-child {

        &:after {
          display: none;
        }
      }
    }
  }

  &,
  a, a:hover {
    font-weight: $font-weight-bold;
    color: #fff;
  }

  a {
    text-decoration: none;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {

  .layout__footer {
    border-top-width: $sm-layout-footer-border-width;

    .container {
      margin-top: (0 - $sm-layout-footer-border-width);

      padding-top: ($sm-layout-footer-border-width + $sm-layout-footer-top-bottom-padding);
      padding-bottom: $sm-layout-footer-top-bottom-padding;
    }
  }
}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {

  .layout__footer {
    border-top-width: $md-layout-footer-border-width;

    .container {
      margin-top: (0 - $md-layout-footer-border-width);

      padding-top: ($md-layout-footer-border-width + $md-layout-footer-top-bottom-padding);
      padding-bottom: $md-layout-footer-top-bottom-padding;
    }
  }
}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {

  .layout__footer {
    border-top-width: $lg-layout-footer-border-width;

    .container {
      margin-top: (0 - $lg-layout-footer-border-width);

      padding-top: ($lg-layout-footer-border-width + $lg-layout-footer-top-bottom-padding);
      padding-bottom: $lg-layout-footer-top-bottom-padding;
    }
  }
}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
